<<<<<<< HEAD
.body{
    background: url("https://images.unsplash.com/photo-1483389127117-b6a2102724ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80") no-repeat center fixed;
    height: 100vh;
    align-items: center;
    background-position: center center;
    display: flex;
}
.wrapper{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    margin: 20px auto;
    padding: 30px;
    border-radius: 5px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 25px;
    color: black;
=======
.conteinercito{
    background: url("https://images.unsplash.com/photo-1483389127117-b6a2102724ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80") no-repeat center fixed;
    height: 100vh;
     align-items: center; 
    background-position: center center;
     display: flex; 
    
    
}
.wrapper{
    margin-left:100px; 
     justify-content: center; 
     align-items: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background-color:transparent;
    /* margin: 20px auto; */
    padding: 30px;
    border-radius: 5px;
    backdrop-filter:blur(5px);
}
.title{
    font-size: 24px;
    
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 25px;
    color: #9fadca;
>>>>>>> 546f62db966214f91a3f258460809c8c9b4656a9
    text-transform: uppercase;
    text-align: center;
}
.form{
    width: 100%
}
.field{
<<<<<<< HEAD
    font-size: 15px;
    font-weight: bold;
=======
    font-size: 18px;
    font-weight:2px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #9fadca;
>>>>>>> 546f62db966214f91a3f258460809c8c9b4656a9
}
.input{
    width: 90%;
    font-size: 15px;
    padding: 8px 10px;
<<<<<<< HEAD
    border-radius: 10px;
=======
    border-radius: 30px;
>>>>>>> 546f62db966214f91a3f258460809c8c9b4656a9
    margin-bottom: 25px;
    margin-top: 10px;
    border: none;
    height: 30px;
<<<<<<< HEAD
}
.button{
    margin: 20px 0 30px 0;
    height: 45px;
    width: 95%;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    background-color: #5791ff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover{
    background-color: #6F77BF;
    color: black;
=======
    outline:none;
}
.button{
    margin: 0px 0 30px 0;
    /* height: 45px; */
     width: 468px; 
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    background-color: #5791ff;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}
.button:hover{
    background-color: #6F77BF;
}
.buttonBack{
    margin-top:-15px;
>>>>>>> 546f62db966214f91a3f258460809c8c9b4656a9
}
.error{
    margin-top: 0px;
    font-size: 15px;
    color: red;
}
.icon{
    cursor: pointer;
    transform: translateX(-30px);
    color: rgb(26, 43, 68);
    width: 50px;
    text-align: center;
<<<<<<< HEAD
}
=======
}

 .margeninferior{
    margin-top:-200px;
    margin-left: 140px;
}
.contactus{
    font-size: 15px;
    color: #9fadca;
    margin-top: -140px;
    margin-left: 1500px;
}
.faqLanding > a {
    text-decoration: none;
    color:#bacdf3;
}


.footer{
    margin-top: -50px;
    color: #9fadca;
    margin-left:700px;
} 
>>>>>>> 546f62db966214f91a3f258460809c8c9b4656a9
