.container{
    width: 80%;
   /*  background: #50548A; */
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

.bar{
    width: 100%;
    /* height: 2rem; */
    /* background: radial-gradient(#646bc9, #272222f2); */
    margin-top: 2rem;

}

.btnTransfer{
/*     margin-bottom: 20px; */
    font-size: 1.8rem;
    width: calc(100% / 3);
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    margin: 0;
    border-bottom: 3px solid #9b9696;
}
.btnTransfer:focus {
    /* margin-top: 30px; */
    color:#009ee3;
    border-bottom: 5px solid #009ee3;
}

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: burlywood;  Father*/
    margin-top: 20px;
    height: 100%;
    align-items: center;

}