/* aca empieza lo de date */
form {
    margin: 20px auto;
    width: 420px;
}
.form-row {
    padding: 5px 10px;
}
label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    padding: 3px 1px;
    width: 220px;
}

/* aca termina lo de date */

.formulario{
    margin: 20px
}

.create{
    margin: 20px
}

.titles{
    margin: 20px
}

.buttoncreate{
    margin: 20px
}

.descriptionDetails{
    margin: 20px
}