
.container {
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction:column;
	  align-items: center;
	  justify-content: center;
	width: 33rem;
	  /* padding: 30px; */
	  /* margin: 10px; */

	  border-radius: 15px;
	 font-weight: 600;
	  font-size: 20px;
	  /* line-height: 1.6; */
	  background: transparent;
	  box-shadow: 0px 6px 10px ;
	  /* box-shadow: 0px 6px 10px rgb(0 0 0 / 25%); */
	  will-change: transform;
	  transform: perspective(1000px) rotateX(
  0deg) rotateY(0deg) scale3d(1, 1, 1);
	height: 45rem;
	text-align: center;
  }

.containerTop {
	
	box-shadow: 0px 6px 10px ;
	height: 16rem;
	width: 90%;
	/* border: 1px solid ;  */
	backdrop-filter: blur(10px);
	background: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 6px;
	position: relative;
	margin-bottom: 2.5rem;
	padding: 0;
}
.moldAmount {
	background: none;
	width: 10rem;
	height: 3rem;
	position: relative;
	font-size: 2rem;
	border-bottom: 3px solid;
	margin-top: 1.5rem;
}

.moldAmount > img {
	width: 1.8rem;
	position: absolute;
	left: -5px;
	bottom: 0px;
}
.title {
	position: absolute;
	left: 98px;
	top: 8px;
	font-size: 22px;
	font-weight: 600;

}
#inputAmount {
	font-size: 1.8rem;
	width: 8rem;
	position: absolute;
	left: 23px;
	bottom: -5px;
	outline: none;
	border: none;
	background: none;
	overflow: hidden;
	color: var(--text-color);
}

.bottomListPrice {
	width: 80%;
	display: flex;
	/* background: antiquewhite; */
	justify-content: space-between;
}

/* FORMULARIOO PA BAJO */

.modalCard_OptionCard {
	
	 position: absolute;
	box-shadow: 0px 6px 10px ;
	width: 80%;
	height: 39%; 
	/* overflow-y: scroll; */
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	padding: 4px 1px;
	border-radius: 20px;
	backdrop-filter:  blur(20px);
	background: var(--background-color);
	opacity: 0.97;
	
}
.modalCard_ContainerOptionCard {
	 overflow-y: auto; 
	backdrop-filter: blur(100px);
	width: 100%;
	font-weight: 600;
	font-size: 20px;
}
.modalCard_ContainerOptionCard::-webkit-scrollbar {
	width: 0.8rem;
	backdrop-filter: blur(100px);
	height: 0.5rem;
}
.modalCard_ContainerOptionCard::-webkit-scrollbar-thumb {
	 /* background: black;  */
	backdrop-filter: blur(100px);
	border-radius: 25px;
	width: 0.4rem;
}
.modalCard_ContainerOptionCard::-webkit-scrollbar-track {
	background: #97a5bb70;
	border-radius: 4px;
	backdrop-filter: blur(10px);
	height: 1rem;
}

.FormCard {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
	/* padding: 0; */
}

.labelFormCard {
	display: flex;
	flex-direction: column;
	/* text-align: start; */
	padding: 10px;
	
}

.inputFormCardLong {
	outline: none;
	border:none;
	border-radius: 20px;
	margin-bottom: -5px;
	padding: 8px 15px;
	width: 190px;
	font-size:17px;
	font-family: 'Source Sans Pro', sans-serif;
}

.inputFormCardExpiration {
	outline: none;
	border:none;
	border-radius: 20px;
	margin-bottom: -5px;
	padding: 8px 15px;
	width: 80px;
	font-size:17px;
	font-family: 'Source Sans Pro', sans-serif;
}
.inputFormCardCvc {
	outline: none;
	border:none;
	border-radius: 20px;
	margin-bottom: -5px;
	padding: 8px 15px;
	width: 70px;
	font-size:17px;
	font-family: 'Source Sans Pro', sans-serif;
}

.btnSubmitFormCard {
	/* width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer; */
  bottom: 45px;
  right: 45px;
  border-radius: 30px;
  padding: 11px 16px;
  font-size: 22px;
  font-weight: 600;
  background-color: rgb(48 107 164);
  border: none;
  color: white;
  margin-top: 0px;
  cursor: pointer;
  width: 140px;
  height: 45px;
  font-family: "Source Sans Pro", sans-serif;
}
.btnSubmitFormCard:hover {
  background-color: #6f77bf;
}
.buttonyoursCards{
	bottom: 45px;
	right: 45px;
	border-radius: 30px;
	padding: 11px 16px;
	font-size: 22px;
	font-weight: 600;
	background-color: rgb(48 107 164);
	border: none;
	color: white;
	margin-top: 0px;
	cursor: pointer;
	width: 170px;
	height: 45px;
	font-family: "Source Sans Pro", sans-serif;
}
.buttonyoursCards:hover {
	background-color: #6f77bf;
  }
.linkspan >a{
	color: white;
}

.buttoncontinue{
	/* position: absolute; */
	bottom: 45px;
	right: 45px;
	border-radius: 30px;
	padding: 11px 16px;
	font-size: 22px;
	font-weight: 600;
	background-color: rgb(48 107 164);
	border: none;
	color: white;
	margin-top: 0px;
	cursor: pointer;
	width: 120px;
	font-family: "Source Sans Pro", sans-serif;
}
.buttoncontinue:hover {
	background-color: #6f77bf;
}