.container{
    width: 100%;
    height: 100%;
    background-color: rgb(158, 102, 29);
    display: flex;
/*     justify-content: center;
 */}

.left{
    width: 50%;
    height: 100%;
    background-color: rgb(149, 103, 192);
}
.right{
    width: 50%;
    /* height: 100%; */
    background-color: rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}









/* OTRA VERSION
 .section__charge{
    width: 20%;
    background-color: rgb(122, 115, 106);
    display: flex;
    justify-content: space-between;
}

.btn_option{
    font-size: 2rem;
    cursor: pointer;
} */









/* ANTERIOR COMPONENTE */
/* #btn_charge{
  border: 1px solid white;
  border-radius: 5px;
  color: midnightblue;
  font-family: roboto;
  font-size: 2.1rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  background: none;
  cursor: pointer;
  z-index: 0;
}
#btn_charge::after{
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 5px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
#btn_charge:hover::after{
    transform: translate(0, 0);
}    
#btn_charge:hover{
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    will-change: transform;
}

.box_trasferOrCash{
    position: absolute;
    z-index: 20;
} */