@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.containerUser{
    width: 96%;
    position: relative;
   
}
#title{
    margin-top: 1vh;
    margin-left: 2rem;
    padding: 3rem;

}

.graphic{
    /* font-family: sans-serif;  */
    position:absolute;
    top:calc(100vh - 30rem);
    /* width: 30rem; */
    /* background: #D7DAF4; */
    padding: 25px;
    border-radius: 8px;
    margin-left: 2.5rem;
    /* margin-top: calc(100vh - 12rem) ; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border-radius: 10px;
   
    transition: all 0.2s;
    background: var(--bluecontainer);
      box-shadow: 15px 8px 30px rgba(240, 235, 235, 0.2);
    
    font-family: 'Roboto', sans-serif;
    /* min-width: 16rem; */
    /* width: 24vw; */
    width: 44rem;
    height: 22rem;
    /* color: midnightblue; */
}

/* .graphic > h2{
    margin-top: 8px;
} */

.graphic:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
   transform: scale(1.01); 
  }