.containerNavBar{
    display: flex;
    flex-direction: column;
    height: 80%;
}

.containerNavBar > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.65rem;
    transition: 0.5s;
}
.containerNavBar a:hover{
    border-right: 1px solid black;
    color: white;
    background: rgba(0, 0, 0, 0.534);
}