.container{
    width: 27rem;
    height:18rem;
    
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color:#dcdbdb;
    }

    .icon{
        color: rgb(26, 43, 68);
        font-size: 15px;
        transform: translateX(-55px);
        cursor: pointer
    } 
    .passwordWarning{
        font-size: small;
        color: #9fadca;
        margin-top: 0px;
    }

    .inputPassword{
        width: 380px;
    }