.container{
    width: 60% ;
    height:73%;
    align-items: center;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
      box-shadow: 0px 6px 10px ;
      background: var(--bluecontainer);
      backdrop-filter: blur(20px);
    }

    .inputForm {
      align-items: center;
      font-size: 1rem;
      width: 14rem;
      height: 1.6rem;
      padding: 3px;
      border-radius: 10px;
      border: 1px solid #967d7d;
      background: #dbd4d4;
      outline: none;
      
    }
    .formulario{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btnSubmitUpdateProfile {
    margin-top: 20px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 60;
      cursor: pointer;
      background: #837e7e99;
      box-shadow: 0px 0px 4px 0px #615b5b;
      border-radius: 6px;
      border: none;
      transition: 0.5s;
    }
    .btnSubmitUpdateProfile:hover {
      background: #756969ce;
      color: white;
    }
    .btnCloseFormUpdateProfile{
      margin-bottom: 5px;
      margin-left: 420px;
      width: 10%;
      font-size: 1.2rem;
      font-weight: 60;
      cursor: pointer;
      background: #837e7e99;
      box-shadow: 0px 0px 4px 0px #615b5b;
      border-radius: 6px;
      border: none;
      transition: 0.5s;
    }
    .btnCloseFormUpdateProfile:hover {
      background: #756969ce;
      color: white;
    }
