.container{
    width: 27rem;
    height:18rem;
    
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* background-color:#dcdbdb; */
      border-radius: 15px;
      box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.200);
      background: radial-gradient(#76b2fe, #b69efe);
    }

    .icon{
        color: rgb(26, 43, 68);
        font-size: 15px;
        transform: translateX(-55px);
        cursor: pointer
    } 
    .passwordWarning{
        font-size: small;
        color: black;
        margin-top: 0px;
    }

    .inputPassword{
        width: 380px;
    }