

.title {
    text-align: center;
    margin-bottom: 4rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--btn-text-color);
    border-radius: 5px;
    transition: 250ms;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--btn-text-color);
    color: var(--acent-color);
}

.form {
    margin-bottom: 2rem;
}

.forminput {
    display: block;
    margin-bottom: 10px;
}



.container{
    width: 50rem ;
    height:35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* background-color:#dcdbdb; */
      border-radius: 15px;
      box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.200);
      background: radial-gradient(#76b2fe, #b69efe);
    }
    .contenedorFotoSubmit{
        width:250px;
        height:250px;
        border-radius:150px;
    }