.containerBalance{
    width: 16rem;
    height: 8rem;
    position: absolute;
    top: 6rem;
    right: 12px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 7px;
    box-shadow: 1px 1px 2px 0px white;
    background-color: #D7DAF4;
}

#titleBalance{
    position: absolute;
    top: 0;
    left: 12px;
    margin-top: 12px;
}

.footerBalance{
    width: 70%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 7px;
    left: 15%;
}
.btnBalance{
    background-color: white;
    border: 1px solid rgba(221, 187, 34, 0.637);
    border-radius: 5px;
    color: rgb(194, 162, 21);
    cursor: pointer;
    transition: 0.4s;
}
.btnBalance:hover{
    color: black;
    background-color: rgb(221, 197, 92);
}