.container{
    width: 16rem;
    height: 8rem;
    position: absolute;
    top: 6rem;
    right: 12px;
    border: 1px solid black;
    background-color: #d0bac0b8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    position: absolute;
    top: 0;
    left: 12px;
    margin-top: 12px;
}

.footer{
    width: 70%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 20px;
    left: 15%;
}
.btn{
    background-color: rgba(221, 187, 34, 0.637);
    border: none;
    border-radius: 5px;
}