.body{
    align-items: center;
    background-position: center center;
    display: flex; 
}

.wrapper{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    width: 200%;
    
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    background: var(--bluecontainer);
      box-shadow: 15px 8px 30px rgba(240, 235, 235, 0.2);
}

.title{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 25px;
    /* color: midnightblue; */
    text-align: center;
}
.form{
    width: 100%
}
.field{
    font-size: 15px;
    font-weight: bold;
    color: midnightblue;
}
.input{
    width: 450px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-top: 10px;
    border: gray solid 1px;
    height: 30px;
    /* background: none; */
    opacity: 0.7;
    outline: none;
    color: #080825;
}
.textarea{
    width: 446px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 18px;
    border: none;
    height: 100px;
    opacity: 0.7;
    outline: none;
    border: gray solid 1px;
    color: #080825;
    resize: none;
}

.button{
    margin: 0px 0 30px 0;
     width: 468px; 
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    background-color: #5791ff;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}
.button:hover{
    background-color: #6F77BF;
}

.icon{
    cursor: pointer;
    transform: translateX(-30px);
    color: rgb(26, 43, 68);
    width: 50px;
    text-align: center;
}