.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    background: var(--bluecontainer);
    box-shadow: 0px 6px 10px ;
    border-radius:22px;
    width: 120%;
    height: 50rem;
    backdrop-filter: blur(20px);
    padding: 50px;
    font-size: 20px;
}
/* .conteiner:hover {
    transform: scale(1.01);
} */
.inputs{
    background: transparent;
    /* color:rgb(179, 174, 174); */
    border:none;
    text-decoration: none;
    display: flex;
    justify-content: space-around; 
    
} 
.inputCVUCopy{
    display: flex;
    justify-content: space-around; 
    
    border:none;
    text-decoration: none;
  
}