.button {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    /* border: 1px solid black; */
    border:groove 1px;
    border-radius: 8px;
    font-size: 18px;
    width: 22rem;
    height:70px;
    margin-left: 1rem;
  }
  .button:hover {
    transform: scale(1.04);
    transition: 0.5s;
    transition-delay: 2, 4s;
    transition-timing-function: ease-in-out;
  }