.container {
	width: 32rem;
	background: transparent;
    box-shadow: 0px 6px 10px ;
	position: relative;
	height: 410px;
	
}

.moldAmount {
	background:transparent /* antiquewhite */;
	width: 14rem;
	height: 3rem;
	position: relative;
	font-size: 2rem;
	border-bottom: 3px solid;
	margin-top: 2rem;
}

.moldAmount > img {
	width: 1.8rem;
	position: absolute;
	left: -5px;
	bottom: 0px;
}

#inputAmount {
	font-size: 1.8rem;
	width: 10rem;
	position: absolute;
	left: 23px;
	bottom: -5px;
	outline: none;
	border: none;
	background: none;
	overflow: hidden;
}
/* PARA QUITAR EL SCROLL DEL INPUT CON TYPE NUMBER */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

.buttonsend {
	position: absolute;
	bottom: 45px;
	right: 45px;
	border-radius: 30px;
	padding: 11px 16px;
	font-size: 22px;
	font-weight: 600;
	background-color: rgb(48 107 164);
	border: none;
	color: white;
	margin-top: 15px;
	cursor: pointer;
	width: 150px;
	font-family: "Source Sans Pro", sans-serif;
}
.buttonsend:hover {
	background-color: #6f77bf;
}

/* <<<<<<<<<<<<<<<<< Form Of Security >>>>>>>>>>>>>>>*/

.textSecurity {
	position: absolute;
	top: 10%;
}

.containerInputAndIcon {
	position: absolute;
	/* background-color: #5791ff; */
	width: 12rem;
	height: 2.6rem;
	top: 54%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: 3px solid black;
}
.inputKey {
	/* color: white; */
	width: 9rem;
	height: 1.6rem;
	font-size: 1.4rem;
	background: none;
	border: none;
	outline: none;
}

.btnSubmitKey {
	position: absolute;
	bottom: 45px;
	right: 45px;
	border-radius: 30px;
	padding: 11px 16px;
	font-size: 22px;
	font-weight: 600;
	background-color: rgb(48 107 164);
	border: none;
	color: white;
	margin-top: 15px;
	cursor: pointer;
	width: 150px;
	font-family: "Source Sans Pro", sans-serif;
}
.btnSubmitKey:hover {
	background-color: #6f77bf;
}

.icon {
	margin: 5px;
}
