.container{
    background-color: var(--color-navTransaction);
    border: 1px solid black;
    width: 36rem;
    height: 21rem;
    border-radius: 4px;
    margin-top: 3rem;
}

.headerContact{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

#titleContact{
    padding: 11px 30px;
    color: #ffffff;
    margin: 0;
    border-bottom: 5px solid #ffffff;
}

.bodyContact{
    font-size: 1.25rem;
    height: calc(100% - 30%);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    margin-top: 27px;
}
.bodyContact::-webkit-scrollbar{
    width: 0.6rem;    
    height: 0.5rem;   
  }
.bodyContact::-webkit-scrollbar-thumb {
    background: rgb(20, 20, 20);
    border-radius: 25px;
    width: 0.4rem;
  }
.bodyContact::-webkit-scrollbar-track {
    background: #97a5bb70;
    border-radius: 4px;
    height: 1rem;
}