
.graficos {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20rem; */
   display :flex;
   flex-direction: row;
   align-items: center;

}

  .moneyAndTransactions{
    display:flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
    
  }
  .grafico {
    width: 70rem;
    height: 22rem;
    color:var(--text-color);
    /* background: transparent; */
    box-shadow: 0px 6px 10px ;
    padding: 20px;
    border-radius: 8px;
    margin-left: 5rem;
    margin-top: 3.5rem;
     display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 1s;
    transition-delay: 2,4s;
    transition-timing-function: ease-in-out;
  }
  .grafico2{
    color:var(--text-color);
    width: 44rem;
    height: 20.4rem;
    /* background: transparent; */
    box-shadow: 0px 6px 10px ;
    padding: 20px;
    border-radius: 8px;
    margin-left: 5rem;
    margin-top: 2rem;
     display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 1s;
    transition-delay: 2,4s;
    transition-timing-function: ease-in-out;
  }
  .grafico:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    /* transform: scale(1.01); */
  }
  .grafico2:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    /* transform: scale(1.01); */
  }
  .balance {
   /*   background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #656673;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30rem;
    right: 60px;
    position: relative;
    margin-left: -8rem;  
     */
    /* display: flex; 
    /* display: flex;
    
    height: 15rem;
    box-shadow:0 0 0 3px #656673;
    right: 60px; */
    /* margin: 5px 10rem ; */
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30rem;
    right: 60px;
    margin-top:10px;
    border-radius: 5px;
    /* box-shadow:0 0 0 3px #656673;  */
    /* width:70rem; */

  }
  .bal{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    /* height: -2rem; */
    /* right: 60px;
    margin-top:10px;
    border-radius: 5px; */
  }
  
  .number{
     display: flex;
    align-items: center; 
  }
  
  .container{
    height: calc(100vh - 2.5rem);
    display: flex;
    flex-direction: row;
}

.titleAndGraph{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 70rem;
  height: 20rem;
 
  
}
.titleAndGraph2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 30rem; 
  width: 30rem;
  
}
.title{
  /* margin-left: -20rem; */
  margin-top: -4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.9rem;
}
.title2{
  margin-top: -13rem;
  margin-left: -7rem;
  font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
}
.left{
border: 2px solid rgb(164 178 179);    
border-top: none;
border-bottom: none;
border-left: none;
width: 13.3rem;
}

.right{
  /* border: 1px solid black; */
  border-left: none;
  width: 100%;
}


/* #linebalance{
  margin-left: -20rem; 
  width: 70rem;
  height: 15rem;
} */
#doug{
  margin-top:2rem;
}
@media (max-height: 921px) {
  .graficos {
  font-size: 18px;
  margin-top: -10px;
  }
}
