.container{
    text-align: center;
}

.textarea{
    height: 500px;
    width: 90%;
    font-size: 15px;
    /* padding: 8px 10px; */
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
    border: none;
    
}

.button{
    margin: 40px 0 30px 0;
    height: 45px;
    width: 95%;
    padding: 8px 10px;
    margin-left: 100px;
    /* font-size: 20px;
    font-weight: bold; */
    border: 0;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    background-color: rgb(48 107 164);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    /* text-transform: uppercase; */
}
.button:hover{
    background-color: #6F77BF;
}
/* .linkclick >a{
    
} */