.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    height: 92%;
}

.paragraph{
    font-size: 1.5rem;
=======
    margin-top: 200px;
    width: 850px;
    height:450px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.200);
    background: radial-gradient(#76b2fe, #b69efe);
    border-radius: 15px;
}

.paragraph{
    font-size: 28px;
>>>>>>> 546f62db966214f91a3f258460809c8c9b4656a9
    width: 60%;
    margin: 0;
    text-align: center;
}