.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    width: 850px;
    height:450px;
    box-shadow: 0px 6px 10px ;
    background: var(--bluecontainer);
    border-radius: 15px;
}
/* :root{
    --bluecontainer:radial-gradient(black, #b69efe);
    --lightcontainer:radial-gradient(#76b2fe, #b69efe);
}*/
.container.dark{
    background:var(--bluecontainer);
} 
.paragraph{
    font-size: 28px;
    width: 60%;
    margin: 0;
    text-align: center;
}