.container {
  height: calc(100vh - 2.5rem);
  display: flex;
  flex-direction: row;
}

.left {
  border: 2px solid rgb(164 178 179);
  border-top: none;
  border-bottom: none;
  border-left: none;
  width: 15rem;
}
.tittle{
  display: flex;
  align-items: flex-start;
  margin-right: 20rem;
  margin-right: 20rem;
}

.right {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid black;
}
.contactos {
  /* display: flex;
  margin-top: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vh;
  overflow-y: auto;
  margin-left: 3rem;
  height: 70vh; */
  font-size: 1.25rem;
  width: 100%;
  display: flex;
  height: 30rem;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  margin-top: 10rem;
  margin-right: 2rem;
  border: 3px solid black;
  border-radius: 10px;
  background: radial-gradient(#76b2fe, #b69efe);
}
.contactos:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.04);
}/* Ahi se aplica */
.link{margin: 2px;
  width: 100%;
  height: 100%;}
.tittle2{
    display: flex;
    align-items: flex-start;
    margin-right: 7rem;
    color: midnightblue;
  }