.containerTransaction {
  /* min-width: 16rem;
  width: 24vw;
  height: 22rem;
  border-radius: 8px;
  padding: 7px; */
  top: 4rem;
  margin-left: 22.5rem;
  /* min-width: 16rem; */
  position: relative;
  height: 40rem;
  width: 400px;
  margin-top: 6rem;
  border: none;
  background: radial-gradient(#76b2fe, #b69efe);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  bottom: 6rem;
  right: 3.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: midnightblue;
  /*  display: flex;
    justify-content: center;
    height: 20rem;
    width: 400px;
    margin-top:10px;
    margin-left: 22.5rem;
    border-radius: 5px;
    position: relative; */
}

.containerTransaction:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

/* <<<<<<<<<<<<<<<<<Header>>>>>>>>>>>>>*/
.headerTransaction {
  position: relative;
  height: 6rem;
  margin-bottom: 15px;
}
#titleTransaction {
  position: absolute;
  font-size: 1.4rem;
  top: 5px;
  left: 12px;
}
#recentsTransaction {
  position: absolute;
  bottom: 0;
  left: 12px;
}
#historyTransaction {
  position: absolute;
  bottom: 0;
  right: 12px;
  cursor: pointer;
}
/* <<<<<<<<<<<<<<<<<Header>>>>>>>>>>>>>*/
.bodyTransaction {
  font-size: 1.25rem;
  height: calc(100% - 30%);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  margin-top: 2px;
}
.bodyTransaction::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.5rem;
}
.bodyTransaction::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20);
  border-radius: 25px;
  width: 0.4rem;
}
.bodyTransaction::-webkit-scrollbar-track {
  background: #97a5bb70;
  border-radius: 4px;
  height: 1rem;
}
