@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


.container{ 
    width: 20%;
    height: 50px;
    padding: 0 50px 0 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: large;
    border: 1px solid rgb(20, 223, 223); 
    transition: 0.4s;
    margin: 20px;
}
/* input:focus{
    box-shadow: 0 0 30px aqua;
} */
.icon{
   
    color: rgb(26, 43, 68);
    font-size: 15px;
    transform: translateX(390px) translateY(-58px);
    
    cursor: pointer
}
.errors{
    color: red;
}

.formulariologin{
    border:none;
    height: 38vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    max-width: 450px;
    margin-top: 0px;
    margin-left: -1050px;;
    padding: 20px 50px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    font-family: 'Source Sans Pro', sans-serif;
}

.inputs{
   outline: none;
    border:none;
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
    width: 405px;
    font-size:17px;
    font-family: 'Source Sans Pro', sans-serif;
}
.buttonlogin{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 15px;
    cursor:pointer;
    width: 450px;
    font-family: 'Source Sans Pro', sans-serif;
}
.buttonlogin:hover{
    background-color: #6F77BF;
 }
.cajaboton{
    margin-top: -27px;
}
 .linkslogin{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.centrarlogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome{
    color: #6F77BF;
}
.wallet{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:200px;
    margin-top:60px;
     margin-left:-1000px; 
}

.descriptionlanding{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    margin-top:-120px;
     margin-left:-1000px; 
     color:white;    
     text-align: center;
}

.contactus{
    font-size: 15px;
    color: #9fadca;
    margin-top: -140px;
    margin-left: 1500px;
}

.footer{
    margin-top: -50px;
    color: rgba(83, 83, 83, 0.781);
}