.container {
  background: var(--bluecontainer);
  box-shadow: 0px 6px 10px ;
}

.header {
  /* background-color: cornsilk; */
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  /* background-color: rgb(228, 114, 137); */
  margin-top: 3px;
  height: 76%;
  overflow-y: auto;
}
.body::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.5rem;
}
.body::-webkit-scrollbar-thumb {
   background:black ; 
  border-radius: 25px;
  width: 0.4rem;
}
.body::-webkit-scrollbar-track {
  background: #97a5bb70;
  border-radius: 4px;
  height: 1rem;
}
