#darkMode {
    background: transparent url("https://image.flaticon.com/icons/png/512/702/702471.png") no-repeat center;
    background-size: 30px 30px;
    width: 38px;
    height: 38px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: var(--background-color) 0.3s ease-in-out, filter 0.3s ease-in-out;
    margin-top:8px;
    margin-left:1760px;
    
  }
  
  #darkMode:hover,
  #darkMode:focus {
    
    filter: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  #darkMode.clicked {
    
    filter: none !important;
    background-color:white;
  }
/* .positionmoon{
  margin-left:1700px;
  
} */