.containerBar{
    background-color: #64D5FA;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 0px black;
}
.containerBar h3{/* PROVISORIO, PONERLE UN CLASSNAME o ID */
    margin: 0;
}